<!DOCTYPE html>
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
                class="brand" >Cap LUA-Android开发工具</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <!--<li th:if="${#strings.contains(session.limitsContant,'userlist') or #strings.contains(session.limitsContant,'rolelist') or #strings.contains(session.limitsContant,'limitslist')}"><a th:href="@{${session.mainurl}}">系统设置</a>-->
                    <!--</li>-->
                    <!--<li th:if="${#strings.contains(session.limitsContant,'shoplist')}"><a th:href="@{/shoplist}">商铺管理</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown"><a href="#" class="dropdown-toggle"-->
                                            <!--data-toggle="dropdown">客户 <b class="caret"></b>-->
                    <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a th:href="@{/user-new}">添加客户</a>-->
                            <!--</li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a th:href="@{/getclientlist}">管理客户</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles <b class="caret"></b></a> -->
                    <!-- 				<ul class="dropdown-menu"> -->
                    <!-- 					<li><a href="new-role.html">New Role</a></li> -->
                    <!-- 					<li class="divider"></li> -->
                    <!-- 					<li><a href="roles.html">Manage Roles</a></li> -->
                    <!-- 				</ul> -->
                    <!-- 			  </li> -->
                    <!-- 			  <li><a href="stats.html">Stats</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>